eshell/history
eshell/lastdir
ido.last
recentf
elpa
backups
auto-save-list
venvs
projectile.cache
projectile-bookmarks.eld
*.desktop
.emacs.desktop.lock
ac-comphist.dat
.python-environments/
.mc-lists.el
